body {
  background-color: #EFDED8;
  /*background-color: #efefef;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #828A88;


}

h1 {
  font-family: 'Didact Gothic', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  color: #175A8B;
}

h2 {
  /*font-family: 'Didact Gothic', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  color: #5179A0;
  font-size: 20px;
  font-weight: 400;
}

.img-circle {
  border-radius: 50%;
  border-style: solid;
  border-color: #5179A0;
  border-width: 5px 5px 5px 5px;
  box-shadow: 2px 2px 2px #828A88;
}

.container {
  width: 450px;
  margin: 0 auto;
}

.card {
  background-color: white;
  /*background-color: #f1f3f0;*/
  box-shadow: 2px 2px 2px #BFB1BD;
  padding: 30px;
  text-align: center;
  margin: 20px 0;
  border-radius: 3px;
}

.btn{
  /*background-color: #ca883e;*/
  /*background-color: #81a7a5;*/
  display: inline-block;
  margin: 5px  0px 0px 0px;
  background-color: #E42D39;
  color: white;
  text-decoration: none;
  padding: 15px 10px;
  border-radius: 3px;
  font-weight: 400;
}

.btn:hover{
  background-color: #BFB1BD;
  color: #E42D39;
}

.list-inline{
  padding-left: 0;
  list-style: none;
  color: #ca883e;
}


.list-inline li{
  display: inline-block;
  padding: 0 15px;
  color: #ca883e;

}

.social_icon{
  color: #E42D39;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }

  .img-circle {
    width:180px;
  }

}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

.img-circle {
    width:150px;
  }


}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  .img-circle {
    width:100px;
  }

  h2 {
  font-size: 16px;

}
